VITE_API_BASE_URL="https://api.kootain.workers.dev/"
VITE_ADMIN_EMAILS="admin1@example.com,admin2@example.com"

# KOOK OAuth
VITE_KOOK_CLIENT_ID="YOUR_KOOK_CLIENT_ID"
VITE_KOOK_AUTHORIZE_URL="https://www.kookapp.cn/app/oauth2/authorize"
